HOST_NAME=http://localhost:3000
FE_PATH_PREFIX= 

EXECUTOR_MAX_ITERATIONS=5
SECRET_KEY=your-secret-key

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sofi_langchain
DB_USERNAME=root
DB_PASSWORD=password

OPENAI_API_KEY=

LARK_BASE_URL=https://open.larksuite.com
LARK_APP_ID=
LARK_APP_SECRET=

CHROMA_COLLECTION_NAME=sofi-test-4
CHROMA_HOST=127.0.0.1
CHROMA_PORT=8001

SERPAPI_API_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379